{{ range $hardware := where $.Site.Data.hardware "id" $.Inner }}
{{ $image := printf "static/images/hardware/%s.jpg" .id }}

## Overview

<table class="datatable">
  <colgroup>
    {{ if fileExists $image }}<col class="col-pic">{{ end }}
  <col class="col-headers">
    <col class="col-data">
  </colgroup>
  <tr>
    {{ if fileExists $image }}<td rowspan="0" id="image"><img src='{{ printf "images/hardware/%s.jpg" .id | relLangURL }}'/></td>{{ end }}
  <td><strong>Name</strong></td>
    <td>{{ .name }}</td>
  </tr>
  <tr>
    <td><strong>Release date</strong></td>
    <td>{{ .date | time.Format ":date_long" }}</td>
  </tr>
  <tr>
    <td><strong>Serial code</strong></td>
    <td>{{ .code }}</td>
  </tr>
  <tr>
    <td><strong>Notes</strong></td>
    <td>{{ .notes | markdownify }}</td>
  </tr>
</table>

{{ if ne .type "standalone" }}

## Supported software

<table class="compattable">
  <colgroup>
    <col class="col-model">
    <col class="col-support">
    <col class="col-notes">
  </colgroup>
  <tr>
    <th>Software</th>
    <th>Support</th>
    <th>Notes</th>
  </tr>
  {{ range $software := sort $.Site.Data.software "name_en" }}
  {{ range $supported_hardware := $software.hardware }}
  {{ range $system := $.Site.Data.system }}
  {{ if and (eq $supported_hardware.id $hardware.id) (eq $software.system $system.id) }}
  <tr>
    <td><a href='{{ "software" | relURL }}/{{ $software.id }}'>{{ $software.name_en }} ({{ $system.name }})</a></td>
    <td id="{{ if or $supported_hardware.unofficial $supported_hardware.partial }}partial{{ else }}native{{ end }}">{{ if $supported_hardware.unofficial }}Unofficial{{ else if $supported_hardware.partial }}Partial{{ else }}Native{{ end }}</td>
    <td>{{ $supported_hardware.notes }} {{ if $supported_hardware.adapter }}<a href="{{ "adapters" | relURL }}#{{ $supported_hardware.adapter }}">{{ index $.Site.Data.adapter $supported_hardware.adapter "notes" }}</a>{{ end }}</td>
  </tr>
  {{ end }}
  {{ end }}
  {{ end }}
  {{ end }}
</table>

{{ end }}

{{ end }}
