{{ range $software := where $.Site.Data.software "id" (.Get 0) }}

## Supported hardware

<table class="compattable">
  <colgroup>
    <col class="col-model">
    <col class="col-support">
    <col class="col-notes">
  </colgroup>
  <tr>
    <th>Model</th>
    <th>Support</th>
    <th>Notes</th>
  </tr>
  {{ range $hardware := sort $.Site.Data.hardware "name" }}
  {{ range $supported_hardware := $software.hardware }}
  {{ if eq $supported_hardware.id $hardware.id }}
  <tr>
    <td><a href='{{ "hardware" | relURL }}/{{ $hardware.id }}'>{{ $hardware.name }}</a></td>
    <td id="{{ if or $supported_hardware.unofficial $supported_hardware.partial }}partial{{ else }}native{{ end }}">{{ if $supported_hardware.unofficial }}Unofficial{{ else if $supported_hardware.partial }}Partial{{ else }}Native{{ end }}</td>
    <td>{{ $supported_hardware.notes }} {{ if $supported_hardware.adapter }}<a href="{{ "adapters" | relURL }}#{{ $supported_hardware.adapter }}">{{ index $.Site.Data.adapter $supported_hardware.adapter "notes" }}</a>{{ end }}</td>
  </tr>
  {{ end }}
  {{ end }}
  {{ end }}
</table>

{{ end }}
