{{ range $software := where $.Site.Data.software "id" (.Get 0) }}

## Supported hardware

<table class="compattable">
  <colgroup>
    <col class="col-support">
    <col class="col-model">
    <col class="col-notes">
  </colgroup>
  <tr>
    <th></th>
    <th>Model</th>
    <th>Notes</th>
  </tr>
<!-- Render the rows in 2 passes: native support first, everything else later -->
  {{ range $hardware := sort $.Site.Data.hardware "name" }}
  {{ range $supported_hardware := $software.hardware }}
  {{ if eq $supported_hardware.id $hardware.id }}
  {{ if not (or $supported_hardware.unofficial $supported_hardware.partial) }}
  <tr>
    <td id="native">✓</td>
    <td><a href='{{ "hardware" | relURL }}/{{ $hardware.id }}'>{{ $hardware.name }}</a></td>
    <td>{{ $supported_hardware.notes }} {{ if $supported_hardware.adapter }}<a href="{{ "adapters" | relURL }}#{{ $supported_hardware.adapter }}">{{ index $.Site.Data.adapter $supported_hardware.adapter "notes" }}</a>{{ end }}</td>
  </tr>
  {{ end }}
  {{ end }}
  {{ end }}
  {{ end }}
  {{ range $hardware := sort $.Site.Data.hardware "name" }}
  {{ range $supported_hardware := $software.hardware }}
  {{ if eq $supported_hardware.id $hardware.id }}
  {{ if or $supported_hardware.unofficial $supported_hardware.partial }}
  <tr>
    <td id="partial">~</td>
    <td><a href='{{ "hardware" | relURL }}/{{ $hardware.id }}'>{{ $hardware.name }}</a></td>
    <td>{{ $supported_hardware.notes }} {{ if $supported_hardware.adapter }}<a href="{{ "adapters" | relURL }}#{{ $supported_hardware.adapter }}">{{ index $.Site.Data.adapter $supported_hardware.adapter "notes" }}</a>{{ end }}</td>
  </tr>
  {{ end }}
  {{ end }}
  {{ end }}
  {{ end }}
</table>

{{ end }}
