{{ range $software := .Site.Data.software }}
  {{ $shortcode := replace "{{% software-page %}}SOFTWARE_ID{{% /software-page %}}" "SOFTWARE_ID" .id }}
  {{ $content := dict
    "mediaType" "text/markdown"
    "value" $shortcode
  }}
  {{ $params := dict "hidden" "true" }}
  {{ $page := dict
    "content" $content
    "kind" "page"
    "path" .id
    "title" .name_en
    "params" $params
  }}
  {{ $.AddPage $page }}

{{ end }}
