{{ range $series := sort $.Site.Data.series "weight" }}

## {{ .name }} {#{{ .id }}}

<table class="softwaretable">
  <colgroup>
    <col class="col-name">
    <col class="col-date">
    <col class="col-extra">
  </colgroup>
  <tr>
    <th>Name</th>
    <th>Release date</th>
    <th>System</th>
  </tr>
  {{ range $software := sort $.Site.Data.software "date" }}
    {{ if eq .series $series.id }}
  <tr>
    <td><a href='{{ "software" | relURL }}/{{ .id }}'>{{ .name_en }}</a></td>
    <td>{{ .date | time.Format ":date_long" }}</td>
    {{ range $system := $.Site.Data.system }}{{ if eq .id $software.system }}
  <td><a href='{{ "software/system#" | relURL }}{{ .id }}'>{{ .name }}</a></td>
    {{ end }}{{ end }}
  </tr>
    {{ end }}
  {{ end }}
</table>

{{ end }}
