{{ range $system := sort $.Site.Data.system "name" }}

## {{ .name }}

<table>
  <colgroup>
    <col class="col-model">
    <col class="col-support">
    <col class="col-notes">
  </colgroup>
  <tr>
    <th>Name</th>
    <th>Release date</th>
    <th>Series</th>
  </tr>
  {{ range $software := sort $.Site.Data.software "date" }}
    {{ if eq .system $system.id }}
  <tr>
    <td>{{ .name_en }}</td>
    <td>{{ .date }}</td>
    <td>{{ range $series := $.Site.Data.series }}{{ if eq .id $software.series }}{{ .name }}{{ end }}{{ end }}</td>
  </tr>
    {{ end }}
  {{ end }}
</table>

{{ end }}
