{{ with .Site.Data.software }}
  <table>
    <colgroup>
      <col class="col-model">
      <col class="col-support">
      <col class="col-notes">
    </colgroup>
    <tr>
      <th>Name</th>
      <th>Release date</th>
      <th>System</th>
    </tr>
    {{ range sort . "date" }}
      {{ if eq .series $.Inner }}
          <tr>
            <td>{{ .name_en }}</td>
            <td>{{ .date }}</td>
            <td>{{ .system }}</td>
          </tr>
      {{ end }}
    {{ end }}
  </table>
{{ end }}
