{{ range $system := sort $.Site.Data.system "name" }}

## {{ .name }} {#{{ .id }}}

<table class="softwaretable">
  <colgroup>
    <col class="col-name">
    <col class="col-date">
    <col class="col-extra">
  </colgroup>
  <tr>
    <th>Name</th>
    <th>Release date</th>
    <th>Series</th>
  </tr>
  {{ range $software := sort $.Site.Data.software "date" }}
    {{ if eq .system $system.id }}
  <tr>
    <td><a href='{{ "software" | relURL }}/{{ .id }}'>{{ .name_en }}</a></td>
    <td>{{ .date | time.Format ":date_long" }}</td>
    {{ range $series := $.Site.Data.series }}{{ if eq .id $software.series }}
  <td><a href='{{ "software/series#" | relURL }}{{ .id }}'>{{ .name }}</a></td>
    {{ end }}{{ end }}
  </tr>
    {{ end }}
  {{ end }}
</table>

{{ end }}
