{{ range $software := where $.Site.Data.software "id" $.Inner }}
{{ $image := printf "static/images/software/%s.jpg" .id }}

## Overview

<table class="datatable">
  <colgroup>
    {{ if fileExists $image }}<col class="col-pic">{{ end }}
  <col class="col-headers">
    <col class="col-data">
  </colgroup>
  <tr>
    {{ if fileExists $image }}<td rowspan="0" id="image"><img src='{{ printf "images/software/%s.jpg" .id | relLangURL }}'/></td>{{ end }}
  <td><strong>Name</strong></td>
    <td>{{ .name_en }}</td>
  </tr>
  {{ if .name }}
  <tr>
    <td><strong>Original name</strong></td>
    <td>{{ .name }}</td>
  </tr>
  {{ end }}
  <tr>
    <td><strong>Release date</strong></td>
    <td>{{ .date | time.Format ":date_long" }}</td>
  </tr>
  {{ if .code }}
  <tr>
    <td><strong>Serial code</strong></td>
    <td>{{ .code }}</td>
  </tr>
  {{ end }}
  {{ if .url }}
  <tr>
    <td><strong>Website</strong></td>
    <td><a href="{{ .url }}" target="_blank">{{ .url }}</a></td>
  </tr>
  {{ end }}
  <tr>
    <td><strong>Notes</strong></td>
    <td>{{ .notes }}</td>
  </tr>
</table>

## Supported hardware

<table class="compattable">
  <colgroup>
    <col class="col-model">
    <col class="col-support">
    <col class="col-notes">
  </colgroup>
  <tr>
    <th>Model</th>
    <th>Support</th>
    <th>Notes</th>
  </tr>
  {{ range $hardware := sort $.Site.Data.hardware "name" }}
  {{ range $supported_hardware := $software.hardware }}
  {{ if eq $supported_hardware.id $hardware.id }}
  <tr>
    <td><a href='{{ "hardware" | relURL }}/{{ $hardware.id }}'>{{ $hardware.name }}</a></td>
    <td id="{{ if or .unofficial .partial }}partial{{ else }}native{{ end }}">{{ if .unofficial }}Unofficial{{ else if .partial }}Partial{{ else }}Native{{ end }}</td>
    <td>{{ .notes }} {{ if .adapter }}<a href="{{ index $.Site.Data.adapters .adapter "ref" }}">{{ index $.Site.Data.adapters .adapter "notes" }}</a>{{ end }}</td>
  </tr>
  {{ end }}
  {{ end }}
  {{ end }}
</table>

{{ end }}
